
on:
  push:
    tags:
      - 'v*'

name: Create Website

jobs:
  build:
    # strategy:
    #   matrix:
    #     platform: [ubuntu-latest]
    runs-on: ubuntu-latest
    container: 'asciidoctor/docker-asciidoctor'
    steps:
    - name: Prepare container
      run: |
        echo Preparing container
        apk --update add git
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Create website
      env:
        GH_TOKEN: ${{ secrets.ACTION_ACCESS_TOKEN }}
      run: |
        echo Start release ${{ github.ref }}
        .sdlc/gh-pages
